{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      { "ssr": true }
    ],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src",
            "rootPathPrefix": "~/"
          }
        ]
      }
    ]
  ]
}
